body {
	main {
		max-width: @max_content_width;
		margin-right: 20px;
		margin-left: 20px;
	}
	
	.footer-panel {
		
	}
	
	@media screen and (min-width: (@max_content_width + 40)) {
		main {
			margin-right: auto;
			margin-left: auto;
		}
	}
}
