.tweetgrid-panel {

	// Multi-column layout
	column-width: 366px;
	column-gap: 30px;
	
	.tweetcard {
		break-inside: avoid-column;
		
		+ .tweetcard {
			margin-top: 30px;
		}	
	}	
}

// Grid layout, if supported
@supports(display: grid) {

	.tweetgrid-panel when (@enable_grid = true) {
	
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		grid-auto-rows: 50px;
		grid-gap: 30px;
		grid-auto-flow: dense;
		
		.tweetcard + .tweetcard {
			margin: 0; // Reset margin(s) from multi-column layout
		}
		
		.tweetcard { grid-row: span 3; }
		.tweetcard.tall { grid-row: span 7; }
		
	}

} // @supports
