html { font-size: 62.5%; }
html, body { padding: 0; margin: 0; }

body {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 1.6em;
	color: @h5yr_light_grey;
	background: @white;
}

* { box-sizing: border-box; }
